*{
    padding: 0;
    margin: 0;
    
}
.item_menu{
    display: flex;
    justify-content: center;
    background-color: #142444;
    color: #fafafa;
    font-family:Arial, Helvetica, sans-serif;
}


#image_header{
    width: 130px;
    height: 40px;
}
.box_image{
    padding: 10px 0 10px 0;
    text-align: center;
}
header{
    background-color:  #fafafa;
}
.p{
    padding: 5px;
}
.box_stuffed{
    display: flex;
    width: 100%;
    justify-content: center;
}
.box_general{
    width: 100%;
    height: 100%;
    background-image: url("image/image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #e9e9e9;
    background-blend-mode: darken;
}
#image_question{
    padding:10px;
    margin: 0 90px 0 95px;
    width: 50px;
    height: 50px;
}
.box_tex{
    text-align: center;
    padding: 50px 0 0 0;
}
.h1{
    font-family:Verdana,Geneva,sans-serif;
    color: #fafafa;
    font-size: 60px;
}
.dinky{
    transition: 0.5s;
    color: #fafafa;
}
.dinky:hover{
    color: #ea546a;
}
.h4{
    color: #fafafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
.box{
    background-color:  #fafafa;
    /*padding: 50px;*/
    margin: 30px 10px 60px 10px;
    box-shadow: 6px 8px 5px #00000041;
}
footer{
    background-color: #142444;
}
.box_footer{
    background-color:  #ea546a ;
    text-align: center;
}
.stuffed{
    font-family:Verdana,Geneva,sans-serif;
    margin: auto;
    margin: 60px;
    text-align: center;
    font-size: 30px;
    color: #142444;
}
.image_arrow{
    width:30px;
    height: 30px;
    padding: 10px;
}
.image_arrow:hover{
    transition: 0.5s;
    transform: rotate(180deg);

}
#image_client{
    padding:10px;
    margin: 0 90px 0 95px;
    width: 60px;
    height: 60px;
}
#image_partners{
    padding:12px;
    margin: 0px 90px 0 95px;
    width: 60px;
    height: 60px;
}
.stuffed_three{
    font-family: Verdana,Geneva,sans-serif;
    text-align: center;
    font-size: 30px;
    color: #142444;
    margin: auto;
    margin: 70px;
}
.imgs{
    width: 25px;
    height: 25px;
    padding: 10px;
}
.stuffed_two{
    font-family: Verdana,Geneva,sans-serif;
    text-align: center;
    font-size: 30px;
    color: #142444;
    margin: auto;
    margin: 55px;
}
.footer{
    display: flex;
    padding: 40px;
}
#image_footer{
    width: 130px;
    height: 40px;
    margin: 0 100px 0 0 ;
}
a{
    color: #fafafa;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.images{
    display: flex;
    margin: 0 0 0 500px;
}

@media screen and (max-width: 800px) {
    .h1{
        font-size: 30px;
    }
    .h4{
        font-size: 10px;
    }
    .box_stuffed{
        display: block;
    }
    #image_question{
        padding:10px;
        margin: 0 90px 0 95px;
        width: 50px;
        height: 50px;
    }
    .stuffed{

    }
}